.times {
  float: right;
  top: 0;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}
.modal-main {
  text-align: center;
  z-index: 25;
  position: fixed;
  /*width: 50%;*/
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 30px 30px 15px 30px;
}
.confirm{
  padding-bottom: 30px;
  width: 90%;
}
.submit-heading{
  margin-top:0;
}
.modal-contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}
.modal-main-contact {
  text-align: center;
  z-index: 25;
  position: fixed;
  /* background: #000; */
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  /* padding: 2%; */
  padding:10px;
  box-sizing: border-box;
} 
.display-block {
  display: block;
}
.display-none {
  display: none;
}
/* .submit-btn{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
} */
.submit-btn {
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  background: transparent;
  outline: none;
  border: 1px solid dodgerblue;
  color: dodgerblue;
  min-width: 150px;
  height: auto;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn:hover {
  background: dodgerblue;
  color: white;
}
.submit-btn:active {
  transform: scale(0.9);
}
/* .mod-btn{
    width:20vw; */
/* } */

.sub-btns {
  display: flex;
  justify-content: center;
}

.noUn {
  text-decoration: none;
  width: 100%;
}
/* .cross{
  width:50px;
  height:50px;
  background-color: white;
  color:white;
} */

.close {
  float:left;
  width: 20px;
  height: 20px;
  opacity: 1;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 25px;
  top:10px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color:white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.modal-heading{
  color:white;
  font-size: 2em;
  margin-block-start: 0em;
}
.sub-heading-modal{
  color:white;
}
.modal-main-contact {
  color: white;
  background: #191919 /*#312f31*/;
  /* max-width: 700px; */
}
.modal-main-contact a {
  color: #027aff;
}
.sub-heading-modal{
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 5.2vw;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 5vh;
}
@media screen and (max-width:350px){
  .close:before, .close:after {
    height: 20px;
  }
}
