/* #background {
  
} */
/* #back-img {
  position: absolute;
  background-image: url("../../assets/img/back-img.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  z-index: -100;
} */
.container {
  /* padding: 0 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -100;
  transform: translate(-50%, -50%); */

  margin-top: 0px;
  min-height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center; */
  /* width: 100%; */
}
#adglogo-cont {
  padding-top: 7.75vh;
  padding-bottom: 5.6vh;
  justify-content: center;
  display: flex;
}

#adglogo {
  width: 90%;
}
#adglogo-cont2 {
  padding: 0px 16px;
  padding-top: 4vh;
  padding-bottom: 5.6vh;
  text-align: left;
  display: flex;
}
#adglogo2 {
  height: 58px;
}
#userpic {
  width: 60px;
}
#sp {
  font-weight: 200;
  font-size: 11px;
}
#cont-box {
  background-color: #191919;
  margin: auto;
  color: #ffffff;
  border-radius: 16px;
  padding: 5.6vh 16px;
  opacity: 0.8;
  text-align: center;
  backdrop-filter: blur(20px);

  width: 100%;
}
.flex {
  transition: all 0.3s ease;
  flex: 1;
}
.usr-det {
  text-align: right;
  font-size: 18px;
  color: white;
  /*padding-top: 25px;*/
}
.footer {
  position: relative;
  /* top:100vh; */
  width: 100%;
  /* right: 0; */
  text-align: right;
  /* bottom: 0; */
  align-items: center;
  padding: 1em 0;
}
.footer-info {
  height: 2.5em;
}
.info-logo {
  width: 35px;
  position: absolute;
  left: 2.5em;
}
.fa-info-circle {
  cursor: pointer;
  margin-right: 1.5em;
  font-size: xx-large;
  color: #027aff;
}
.fa-info-circle:hover {
  color: white;
}
.contact-mail a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
@media (min-width: 576px) {
  #adglogo-cont {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  #adglogo {
    width: auto;
  }

  #cont-box {
    border-radius: 28px;
    padding: 20px 44px;
  }
}
@media (min-width: 768px) {
  #back-img {
    width: 100vw;
  }
  #adglogo-cont {
    padding-bottom: 44px;
  }
  #cont-box {
    width: 500px;
    border-radius: 28px;
    /* max-height: 60vh;
    overflow: auto; */
  }
}
/* landing */
.heading {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 9.5vw;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 3vh;
  margin-top: 3.5vh;
}
.sub-heading {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 5.2vw;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 5vh;
}
.sub-heading-modal{
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 5.2vw;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 5vh;
}
.heading2 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 6.6vw;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 5vh;
}
.btn {
  display: block;
  border-radius: 8px;
  padding: 8px;
  margin: auto;
  margin-top: 20px;
  color: #ffffff;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  margin-bottom: 3.5vh;
  width: calc(100%-16px);
}
.btn-blue {
  background: #027aff;
  min-width: 125px;
  border: transparent 2px solid;
  position: relative;
  overflow: hidden;
}
.btn-trans {
  border: #027aff 2px solid;
  position: relative;
  overflow: hidden;
}
/* .landing-btn {
  width: 65%;
} */
@media (min-width: 576px) {
  .heading {
    font-size: 36px;
  }
  .sub-heading {
    font-size: 16px;
  }
  .sub-heading-modal {
    font-size: 16px;
  }
  .heading2 {
    font-size: 24px;
  }
  .btn {
    padding: 8px;
    font-size: 20px;
    width: 35%;
  }
}
@media (min-width: 768px) {
  .heading {
    margin-top: 20px;
    font-size: 36px;
    margin-bottom: 15px;
  }
  .sub-heading {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .sub-heading-modal {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .heading2 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .btn {
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 37%;
  }
}

/* signup */
.input-grp {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5vh;
  position: relative;
}
.input {
  margin: auto;
  background: #1e1e1e;
  border: 1px solid #121212;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  padding: 12px 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.2;
  color: white;
}
label {
  text-align: start;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 1.5vh;
}
/* .sub-btn {
  font-family: SF Pro Display;
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 12px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  text-align: center;
  background: #027aff;
  color: #ffffff;
  margin-bottom: 1.7vh;
} */

@media (min-width: 576px) {
  .input-grp {
    margin-bottom: 24px;
  }
  .input {
    border-radius: 5px;
    padding: 16px 14px;
    font-size: 14px;
  }
  .name-input {
    text-transform: capitalize;
  }
  label {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  /* .sub-btn {
    padding: 12px;
    border-radius: 10px;

    font-size: 22px;
    line-height: 1.2;

    margin-bottom: 10px;
  } */
}
@media (min-width: 768px) {
  .input-grp {
    margin-bottom: 16px;
  }
  .input {
    border-radius: 5px;
    width: 100%;
    padding: 14px 14px;
    font-size: 14px;
  }
  label {
    line-height: 1.2;
    margin-bottom: 8px;
  }
  /* .sub-btn {
    padding: 8px;
    border-radius: 8px;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 8px;
    width: 55%;
  } */
}
.disable-btn {
  pointer-events: none;
  /* background:grey; */
}
/* domain page */
.rdio-grp {
  margin: auto;
  width: calc(100%-16px);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0 10px;
  align-items: center;
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 10px;
}
@media (min-width: 576px) {
  .rdio-grp {
    width: 50%;
  }
}
.error {
  color: red;
  font-size: 14px;
}

.dom-pg-ico {
  font-size: 30px;
  margin-bottom: -4px;
  margin-right: 8px;
}
#profile-container {
  color: white;
  text-align: center;
  height: 65px;
  width: 65px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;

  background-color: #191919;
  color: #ffffff;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  transition: all 0.3s ease-in-out;
}
#profile-container:hover {
  z-index: 1000;
  border-radius: 10px;
  padding: 10px 20px;
  height: 150px;
  width: max-content;
  /*min-width: max-content;*/
  transition: all 0.3s ease-in-out;
  margin-bottom: -105px;
}
#profile-container:hover img {
  padding-right: 5px;
  transition: all 0.3s ease-in-out;
}
#profile-container #profile-wrapper img {
  position: relative;
  z-index: 20;
  border-radius: 50%;
  display: block;
  height: 55px;
  width: 55px;
  object-fit: cover;
  margin: 5px auto;
  /*transition: all 0.3s ease;*/
}
/*.pf-wr:hover > div {*/
/*  padding-top: 10px;*/
/*  transition: 0.3s;*/
/*  display: flex;*/
/*  justify-content: space-evenly;*/
/*  align-items: center;*/
/*}*/
#profile-container:hover #profile-wrapper img.active {
  transition: 0.3s;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
}
#profile-wrapper #profile-title {
  transition: 0.3s;
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 5px 5px 5px;
  line-height: 5px;
}
#profile-container #profile-title {
  color: white;
  transition: all 0.3s ease-in-out;
}
#logout-button {
  margin-top: 18px;
  margin-bottom: 18px;
  height: auto;
  width: auto;
  background: #027aff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  transition: all 0.3s;
  padding: 10px 40px 10px 40px;
  color: white;
}
#logout-button:hover {
  background: white;
  color: black;
}
.t-uc {
  text-transform: uppercase;
}
.t-uc::placeholder {
  text-transform: capitalize;
}
/* login eye */
.lgn-eye {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: grey;
  font-size: 20px;
  cursor: pointer;
}

.lgn-eye-t {
  color: #1466d1 !important;
}
@media (min-width: 576px) {
  .lgn-eye-t {
    color: #1466d1 !important;
  }
  .lgn-eye {
    position: absolute;
    right: 15px;
    bottom: 20px;
    color: grey;
    font-size: 20px;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .lgn-eye-t {
    color: #1466d1 !important;
  }
  .lgn-eye {
    position: absolute;
    right: 15px;
    bottom: 19px;
    color: grey;
    font-size: 20px;
    cursor: pointer;
  }
}

.modal-main {
  color: white;
  background: #191919 /*#312f31*/;
  max-width: 700px;
}
.modal-main a {
  color: #027aff;
}

.countdown .card {
  display: inline-block;
  margin-bottom: 10px;
}

.countdown-value {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  color: #027aff;
  background: #333333;
  margin: 10px;
  min-width: 100px;
  padding: 20px 0;
}

.cll {
  width: 150px;
}

.forgot-pass {
  font-family: SF Pro Display;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.forgot-pass a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  /* border-bottom: 1px solid white; */
  text-decoration: underline;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 18.49px;
  height: 17px;
  padding: 2px;
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  border-radius: 50%;
}
input[type="radio"]:checked{
  background-color:dodgerblue;
  border:1px solid dodgerblue;
}
input[type="radio"]:focus{
  outline:none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (max-width:340px){
  .lgn-btn{
    margin:2vw;
  }
}
