.input:checked + .label {
  color: dodgerblue;
}
.input:checked + .tech {
  color: dodgerblue;
}
.input:disabled + .label {
  color: grey;
  cursor: auto;
}

.label {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  line-height: 3;
  margin: 0;
  position: relative;
  margin-left: 0px;
  width: 100%;
  transition: all 0.1s;
}

.tech::before {
  content: "";
  position: absolute;
  background: url("../../../assets/img/settings-gear-63.svg") no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  bottom: 12px;
  left: -40px;
  color: white;
}
.man::before {
  content: "";
  position: absolute;
  background: url("../../../assets/img/Shape.svg") no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  bottom: 12px;
  left: -40px;
}
.des::before {
  content: "";
  position: absolute;
  background: url("../../../assets/img/vector.svg") no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  bottom: 12px;
  left: -40px;
}
.redirectBtn {
  height:40px;
  width:auto;
  border-radius: 5px;
  background-color: transparent;
  border:1px solid dodgerblue;
  outline:none;
  font-size: 1em;
  cursor:pointer;
  color:dodgerblue;
  transition: all 250ms ease-in-out;
}
.redirectBtn:hover {
  transform: scale(1.10);
  background-color: dodgerblue;
  color: white;
}
.wrapper {
  text-align: center;
}
.li{
  line-height:1.5;
}