/* .sign2-wrap {
  margin:auto;
  margin-top:10% ;
  width:45vh;
  height:67vh;
  padding:2%;
  border-radius: 20px;
  background: #212324;
  
}

p
{
    font-size:25px;
    font-weight: 200;
}
#phone
{
    margin-left:-70%;
}
#vit
{
    margin-left:-65%;
}
#git
{
    margin-left:-70%;
}
label 
{
  font-size: 14px;
  color: rgb(241, 232, 232);
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  width:80%;
  border: 1px solid #cfcfcf;
}
.myButton3
{
   background-color: #027AFF;
    border-radius:10px;
    border: solid 2px #027AFF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:3% 30%;
	text-decoration:none;
}
.myButton3:hover
{
    background-color:#212324 ;
}

@media screen and (min-width:1024px)
{
  .sign2-wrap
  {
    height:50vh;
  }
}

@media screen and (min-width:375px)
{
  .sign2-wrap
  {
    width:40vh;
    height:60vh;
    
  }
} */
