.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}
  
.modal-main {
    z-index:25;
    position:fixed;
    background: rgb(17, 17, 17);
    width: 30%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding:2%;
    box-sizing: border-box;
}
  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}
.modal-header{
    padding:3px;
    margin-top:0;
    margin-bottom: 3%;
}
.headingm{
    font-size:20px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input-field{
    display:flex;
    justify-content: space-between;
    margin-bottom:10px;
}
.label{
    all:unset;
    margin-right: 5px;
}
textarea{
    margin:auto;
    width:65%;
    height:4rem;
    padding:3%;
    background: rgba(2, 2, 2, 0.7);
    color:white;
    outline:none;
    border:0.1px solid grey;
    resize:none;
    border-radius: 5px;
}
.type{
    display: flex;
    justify-content: space-between;
}
.radio{
    display:flex;
}
.drop-down{
    float:right;
    padding:5px;
}
.drop-down > label{
    margin-right:3px;
}
select{
    background: transparent;
    outline:none;
    border:none;
    color:white;
}
option{
    color:dodgerblue;
}
.image-container{
    display:flex;
    margin-top:40px;
}
.display-options{
    display:flex;
    flex-direction: column;
    margin-top:35px;
}
.option{
    display:flex;
    justify-content: flex-start;
}
.input-option{
    padding:2%;
    width:90%;
    height:20px;
    background:rgba(8, 8, 8, 0.7);
    border:1px solid grey;
    outline:none;
    border-radius: 5px;
    color:white;
}
.input-option::placeholder{
    color:dodgerblue;
}
.btn-addopt,.btn-upload{
    cursor: pointer;
    background-color: transparent;
    outline:none;
    border:none;
    color:dodgerblue;
    border-radius: 5px;
    width:20%;
    float:right;
    margin:2%;
    padding:1%;
}
.btn-addopt:hover{
    transform: scale(0.98);
    border:1px solid dodgerblue;
    outline:none;
}
.btn-upload{
    margin-left:15px;
}
.btn-upload:hover{
    color:rgb(134, 185, 236);
    transform:scale(1.2);
    outline:none;
}
.hide-options{
    display:none;
}
.submit-btn{
    cursor:pointer;
    width:80%;
    height: 45px;
    background: #027AFF;
    color:white;
    outline:none;
    border:none;
    border-radius: 10px;
    font-size:1.25rem;
    margin:5%;
}
.submit-btn:hover{
    transform: scale(0.95);
}
input[type="file"]{
    appearance: none;
    background-color:black;
    color:white;
    padding:2%;
    border:none;
    overflow: visible;
    margin-left:10px;
    border-radius: 5px;
    border:0.1px solid grey;
}
.input-correct{
    width:60%;
    margin-top:5px;
    height:30px;
    background:rgba(8, 8, 8, 0.7);
    border:1px solid grey;
    outline:none;
    border-radius: 5px;
    color:white;
    padding:0 10px;
}
