.input:checked + .label {
  color: dodgerblue;
}
.input:checked + .tech {
  color: dodgerblue;
}
.label {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  line-height: 3;
  margin: 0;
  position: relative;
  margin-left: 0px;
  width: 100%;
}
