.input:checked + .label {
  color: dodgerblue;
}
.label {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  line-height: 3;
  margin: 0;
  position: relative;
  margin-left: 40px;
  width: 100%;
}

.tech::before {
  content: "";
  position: absolute;
  background: url("../../../assets/img/settings-gear-63.svg") no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  bottom: 12px;
  left: -40px;
  color: white;
}
.man::before {
  content: "";
  position: absolute;
  background: url("../../../assets/img/Shape.svg") no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  bottom: 12px;
  left: -40px;
}
.des::before {
  content: "";
  position: absolute;
  background: url("../../../assets/img/vector.svg") no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  bottom: 12px;
  left: -40px;
}
