#back-img {
  position: fixed;
  background-image: url("../../assets/img/back-img.png");
  width: 100vw;
  height: 160vh;
  z-index: -100;
  background-size: contain;
}
.container {
  padding: 0 15px;
}
#adglogo-cont {
  padding-top: 7.75vh;
  padding-bottom: 5.6vh;
}

#adglogo {
  width: 90%;
}
#adglogo-cont2 {
  padding: 0px 16px;
  padding-top: 4vh;
  padding-bottom: 5.6vh;
  text-align: left;
  display: flex;
}
#adglogo2 {
  width: 44%;
}

#cont-box {
  background-color: #191919;
  margin: auto;
  color: #ffffff;
  border-radius: 20px;
  padding: 5.6vh 16px;
}
.flex {
  flex: 1;
}
.usr-det {
  color: white;
}
@media (min-width: 576px) {
  #adglogo-cont {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  #adglogo {
    width: auto;
  }

  #cont-box {
    border-radius: 28px;
    padding: 20px 44px;
  }
}
@media (min-width: 768px) {
  #back-img {
    width: 100vw;
    height: 160vh;
  }
  #adglogo-cont {
    padding-top: 44px;
    padding-bottom: 64px;
  }

  #cont-box {
    width: 646px;
    border-radius: 28px;
    padding: 36px 44px;
  }
}
/* landing */
.heading {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 9.5vw;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2.8vh;
}
.sub-heading {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 5vw;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 5vh;
}
.heading2 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 6.6vw;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 5vh;
}
.btn {
  display: block;
  border-radius: 10px;
  padding: 16px;
  margin: auto;
  color: #ffffff;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 5.6vw;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  margin-bottom: 4.5vh;
  width: 70%;
}
.btn-blue {
  background: #027aff;
  border: transparent 2px solid;
  transition: background 0.2s;
}
.btn-blue:hover {
  background: transparent;
  border: #027aff 2px solid;
}
.btn-trans {
  border: #027aff 2px solid;
  transition: background 0.2s;
}
.btn-trans:hover {
  background: #027aff;
  border: transparent 2px solid;
}
@media (min-width: 576px) {
  .heading {
    font-size: 44px;
    margin-bottom: 20px;
  }
  .sub-heading {
    font-size: 20px;
    margin-bottom: 28px;
  }
  .heading2 {
    font-size: 32px;
    margin-bottom: 28px;
  }
  .btn {
    padding: 16px;
    font-size: 32px;
    margin-bottom: 26px;
    width: 80%;
  }
}
@media (min-width: 768px) {
  .heading {
    font-size: 48px;
    margin-bottom: 24px;
  }
  .sub-heading {
    font-size: 24px;
    margin-bottom: 44px;
  }
  .heading2 {
    font-size: 36px;
    margin-bottom: 44px;
  }
  .btn {
    border-radius: 15px;
    padding: 16px 16px;
    font-size: 36px;
    margin-bottom: 30px;
    width: 80%;
  }
}
/* signup */
.input-grp {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5vh;
}
.input {
  margin: auto;
  background: #1e1e1e;
  border: 1px solid #121212;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  padding: 12px 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  color: #434343;
}
label {
  text-align: start;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 1.5vh;
}
.sub-btn {
  display: block;
  margin: auto;
  padding: 16px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  text-align: center;
  background: #027aff;
  color: #ffffff;
  margin-bottom: 1.7vh;
}
@media (min-width: 576px) {
  .input-grp {
    margin-bottom: 20px;
  }
  .input {
    border-radius: 5px;
    padding: 16px 14px;
    font-size: 14px;
  }
  label {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .sub-btn {
    padding: 16px;
    border-radius: 10px;

    font-size: 20px;
    line-height: 1.2;

    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .input-grp {
    margin-bottom: 20px;
  }
  .input {
    border-radius: 5px;
    width: 100%;
    padding: 16px 14px;

    font-size: 14px;
  }
  label {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .sub-btn {
    padding: 16px;
    border-radius: 10px;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}
