body {
  background-image: url("../../assets/img/back-img.png");
}
#back-img {
  position: fixed;
  background-image: url("../../assets/img/back-img.png");
  width: 100vw;
  height: 160vh;
  z-index: -100;
  top: -20vh;
}
#adglogo-cont {
  padding-top: 44px;
  padding-bottom: 64px;
}

#cont-box {
  width: 646px;
  background-color: #191919;
  margin: auto;
  color: #ffffff;
  border-radius: 56px;
  padding: 36px 44px;
}
/* landing */
.heading {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  margin-bottom: 24px;
}
.sub-heading {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 56px;
}
.heading2 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 56px;
}
.btn {
  display: inline-block;
  border-radius: 20px;
  padding: 16px 168px;
  margin: auto;
  color: #ffffff;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 30px;
  width: 150px;
}
.btn-blue {
  background: #027aff;
  border: transparent 2px solid;
  transition: background 0.2s;
}
.btn-blue:hover {
  background: transparent;
  border: #027aff 2px solid;
}
.btn-trans {
  border: #027aff 2px solid;
  transition: background 0.2s;
}
.btn-trans:hover {
  background: #027aff;
  border: transparent 2px solid;
}

/* signup */
.input-grp {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.input {
  margin: auto;
  background: #1e1e1e;
  border: 1px solid #121212;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  padding: 16px 14px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #434343;
}
label {
  text-align: start;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}
.sub-btn {
  display: block;
  margin: auto;
  width: 90%;
  padding: 16px;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  border: none;
  text-align: center;
  background: #027aff;
  color: #ffffff;
  margin-bottom: 10px;
}
