.heading p{
    width:60%;
    margin:auto;
}
.input{
    opacity:0;
}
.formContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:2%;
}
.label{
    z-index:10;
    flex:1;
    text-align: center;
    background:rgba(63, 63, 63, 0.6);
    padding:20px;
    border-radius: 5%;
}
.input:checked + .label{
    background:dodgerblue;
}