*
{
    margin:0;
    padding:0;
}
body{
    padding:0;
    margin:0;
    font-family:'Poppins';
}
.inst
{
    width:55vh;
    height: 50vh;
    padding:10%;
    border-radius:10px;
    background-color:rgb(44, 42, 42);
    
}
.inst li
{
    font-size:12px;
}
.inst #inst1
{
    font-size:12px;
}
ul 
{
    list-style-type: none;
}
.inst ul li::before
{
  color: rgb(233, 66, 94);
  content: "•" ;
  font-weight: bold; 
  display: inline-block;
}
.inst li
{
    font-size:14px;
}
.begin
{
  width: 40%;
  font-size: 16px;
  color: #ffffff;
  background-color: #489bd3;
  border-radius: 10px;
  display: flex;
  padding: 5%;
  justify-content: flex-start;
  border: 2px solid #3793ee;
  cursor: pointer;
  margin-left:35%;
  margin-top:10%;
}
a
{
    text-decoration: none;
}
p
{
    font-size:16px;
    margin:auto;
    font-weight: bold;
}
