/* 

.app {
  background-color: #323335;
  width: 100vh;
  height: 80vh;
  border-radius: 15px;
  padding: 5%;
  
  
}
.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  margin-left:28%;
  margin-top:20%;
}

.question-section {
  width: 100%;
  position: relative;
}
.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: black;
  border-radius: 15px;
  display: flex;
  padding: 4%;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #4a4d50;
  cursor: pointer;
} */
/* button:hover {
  background-color: #489bd3;
} */

.options{
  cursor:pointer;
  width:60%;
  background:transparent;
  outline:none;
  border:1px solid grey;
  border-radius:15px;
  height:45px;
  margin-bottom:15px;
  color:white;
  text-align: left;
  padding:5px 15px;
  font-size:1rem;
}
.options:first-of-type{
  margin-top: 10px;
}
.options:hover{
  background: dodgerblue;
}
.btn-bottom{
  display:flex;
  justify-content: space-between;
}
.btn-bottom>button{
  background:transparent;
  outline:none;
  border:1px solid dodgerblue;
  height:30px;
  color:dodgerblue;
  height:40px;
  font-size:20px;
  border-radius: 5px;
  width:7vw;
}
.btn-bottom>button:hover{
  background: dodgerblue;
  color:white;
}
.btn-bottom>button:active{
  transform: scale(0.9);
}