.top{
    display:flex;
    justify-content: space-between;
}
.addBtn{
    margin-top: 3%;
    background-color: rgba(0,0,0,0.5);
    outline:none;
    border:1px solid dodgerblue;
    color:dodgerblue;
    border-radius: 5px;
    width:20%;
    height:40px;
    padding:3px;
}
.addBtn:active{
    transform: scale(0.95);
}
.questions{
    display:flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.questionDescrip{
    text-align: justify;
    margin-left: 25px;
    margin-top:-25px;
    font-size: 15px;
} 
.questions>button{
    width:10%;
    height:10%;
}
.options{
    width:80%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.index{
    margin-right:2%;
}
.image{
    width:200px;
    height:200px;
    object-fit: cover;
    margin:10px;
}
.display-none{
    opacity:0;
}
.optionsContainer{
    display:flex;
    flex-direction: row;
    margin-top:2px;
    margin-left: 22px;
    font-size: 14px;
}
.descrip{
    text-align: left;
}
.descripText{
    margin-left:25px;
    margin-top:-25px;
    text-align: left;
}