.App {
  text-align: center;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 44px;
  width: 100vw;
  background-image: url("./assets/img/back-img.png");
}
