@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-Ultralight.otf"),
    url("./fonts/SF-Pro-Display-Ultralight.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-UltralightItalic.otf"),
    url("./fonts/SF-Pro-Display-UltralightItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-Thin.otf"),
    url("./fonts/SF-Pro-Display-Thin.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-ThinItalic.otf"),
    url("./fonts/SF-Pro-Display-ThinItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-Light.otf"),
    url("./fonts/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-LightItalic.otf"),
    url("./fonts/SF-Pro-Display-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-Regular.otf"),
    url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-RegularItalic.otf"),
    url("./fonts/SF-Pro-Display-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-Medium.otf"),
    url("./fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-MediumItalic.otf"),
    url("./fonts/SF-Pro-Display-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-Semibold.otf"),
    url("./fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-SemiboldItalic.otf"),
    url("./fonts/SF-Pro-Display-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-Bold.otf"),
    url("./fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-BoldItalic.otf"),
    url("./fonts/SF-Pro-Display-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-Heavy.otf"),
    url("./fonts/SF-Pro-Display-Heavy.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-HeavyItalic.otf"),
    url("./fonts/SF-Pro-Display-HeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-Black.otf"),
    url("./fonts/SF-Pro-Display-Black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF-Pro-Display-BlackItalic.otf"),
    url("./fonts/SF-Pro-Display-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
.App {
  text-align: center;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 44px;
  width: 100vw;
  overflow-x: hidden;
  background-image: url("./assets/img/back-img.png");
}
@media (min-width: 768px) {
  body {
    height: 93vh;
  }
}
