/* 
#reg
{
    margin-left:-40%;
}



label 
{
  font-size: 14px;
  color: rgb(241, 232, 232);
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  width:80%;
  border: 1px solid #cfcfcf;
}
.myButton
{
   background-color: #027AFF;
    border-radius:10px;
    border: solid 2px #027AFF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:3% 30%;
	text-decoration:none;
}
button
{
  background-color: #027AFF;
  border-radius:10px;
  border: solid 2px #027AFF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:3% 30%;
	text-decoration:none;
}
.myButton:hover
{
  background-color:#212324 ;
}
.second
{
  color:#027AFF;
}
.second:visited
{
  color: rgb(75, 85, 180);
}
span
{
  text-decoration: none;
}
@media screen and (max-width:320px)
{
  .sign-wrap
  {
    height:100vh;
  }
} */
